---
layout: page
title: Blogs
termcmd: ./blogs --all
---
<p class="announce">
    Below are the articles/tutorials that I could write when I got time. Click the one that interests you.
    If you want me to write something specific that you need OR have suggestion/correction on an existing blog, just mail me at `ayan05das`@`gmail.com`. Thank you.
</p>

{% assign c = 1 %}
{% for blog in site.categories.blog-tut %}
    {% unless blog.navigation == "excluded" %}
        {% include navitem.html post=blog count=c %}
        {% capture c %}{{ c | plus:1 }}{% endcapture %}
    {% endunless %}
{% endfor %}