---
layout: page
title: Blogs
navigation: include
navorder: 2
termcmd: ./blogs --all
---

<p>
    All the blog posts, please go through it
</p>

{% assign all_posts = site.posts %}
{% for post in all_posts %}
    <div style="padding-left: 1em; padding-right: 1em; border-style: none; border-width: 5px; margin-top: 2em; margin-bottom: 5px; border-color: #aaaaaa;">
        <a href="{{ post.url }}"> <h2> {{ post.title }} </h2> </a>
        <div style="padding-left: 20px; border-left-style: solid; border-right-style: solid; border-color: #aaaaaa;">
            <p> {{ post.excerpt }}

                <strong>Dated:</strong> <i>{{ post.date | date_to_string }}</i> <br>
                <strong>Tags:</strong> | <i>{% for a_tag in post.tags %} {{ a_tag }}</i> | {% endfor %}
            </p>
        </div>
    </div>
{% endfor %}
