/*
 * This stylesheet defines styles which are
 * exclusively for my website only and not
 * part of the entire website theme
 * Author: Ayan Das
 */

.custom-nav-whole {
    margin-top: 2em;
    margin-bottom: 5px;
}

.custom-nav-desc {
    font-size: 18px;
    line-height: 130%;
    font-family: "Bookman Old Style";
}

.custom-desc-box {
    margin-top: 10px;
    padding: 5px;
    display: table;
}

.custom-desc-box-thumb {
    float: left;
    margin-right: 10px;
    width: 40%;
    height: auto;
}
.custom-desc-box-thumb img {
    margin: 0px;
}

.custom-desc-box-text {
}

.banner {
    font-size: 25px;
    text-align: center;
    background-color: #dddddd;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}