<div class="custom-nav-whole">
    <p class="custom-nav-title"> [{{ include.count }}] <a href="{{ include.post.url }}" target="_blank"> {{ include.post.title }} </a> </p>
    <div class="custom-nav-desc">
        <strong>Author(s):</strong> {% include authorlist.html nolink=true authors=include.post.authors eqcontrib=include.post.authors_eqcontrib %} <br>
        
        {% if include.post.venue %}
           <strong>Venue:</strong> {{ include.post.venue }} <br>
        {% endif %}

        {% if include.post.link %}
           <strong>Link:</strong> <a href="{{ include.post.link }}" target="_blank">{{ include.post.link }}</a> <br>
        {% endif %}
       <strong>Dated:</strong> {{ include.post.date | date_to_string }} <br>
    </div>

    <div class="custom-desc-box">
        {% if include.post.thumbnail-img %}
        <div class="custom-desc-box-thumb">
            <img src="{{ include.post.thumbnail-img }}">
        </div>
        {% endif %}
        <!-- <div class="custom-desc-box-text">
            <p>
                {% if include.post.abstract %}
                <strong><big>Abstract:</big></strong> {{ include.post.abstract | truncatewords: 120, "..." }}
                {% else %}
                {{ include.post.excerpt | truncatewords: 120, "..." }}
                {% endif %}
            </p>
        </div> -->
    </div>
</div>
