<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ "/" | relative_url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <!-- This name 'Homepage' is reserved only for the index page -->
      <a class="sidebar-nav-item" href="{{ "/" | relative_url }}">{% if page.title == "Homepage" %} > {% endif %}Homepage</a>

      {% assign pages_list = site.pages | sort: "navorder" %}
      {% for node in pages_list %}
        {% if node.navigation == "include" %}
          <a class="sidebar-nav-item" href="{{ node.url }}">{% if page.title == node.title %} > {% endif %}{{ node.title }}</a>
        {% endif %}
      {% endfor %}

    </nav>

    <p> © 2018. All rights reserved. </p>
  </div>
</div>
