<div class="sidebar">

    {% if page.title == "Homepage" %}
        <div class="profile_pic_holder">
            <img src="{% link public/me.jpg %}" />
        </div>
    {% endif %}

    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <h1><a href="{% link index.md %}">{{ site.title }}</a></h1>
            <p class="lead">{{ site.description }}</p>
        </div>

        <nav class="sidebar-nav">
            <a class="sidebar-nav-item{% if page.title == 'Homepage' %} active{% endif %}" href="{% link index.md %}">Homepage</a>
            <a class="sidebar-nav-item{% if page.title == 'CV/Bio' %} active{% endif %}" href="{% link about.md %}">CV/Bio</a>
            <a class="sidebar-nav-item{% if page.title == 'Blogs' %} active{% endif %}" href="{% link blogs.html %}">Blogs</a>
            <a class="sidebar-nav-item{% if page.title == 'Projects' %} active{% endif %}" href="{% link projects.html %}">Projects</a>
            <a class="sidebar-nav-item{% if page.title == 'Personal' %} active{% endif %}" href="{% link personal.md %}">Personal</a>
            <a class="sidebar-nav-item{% if page.title == 'Publications' %} active{% endif %}" href="{% link pubs.html %}">Publications</a>
            <a class="sidebar-nav-item{% if page.title == 'Contact' %} active{% endif %}" href="{% link contact.md %}">Contact</a>
        </nav>

        <p style="margin: 0px;"> © 2020. All rights reserved. </p>
    </div>
</div>
