<!-- The whole social media bar, its a bit messy code -->
<div>
    <div style="float: none;">
    <!-- The Facebook share button -->
    <iframe
        src="https://www.facebook.com/plugins/share_button.php?href={{ page.url | absolute_url }}&layout=button&size=large&width=77&height=28&appId=3268236546577201"
        width="77" height="28" style="border:none;overflow:hidden"
        scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    <!-- The tweet button -->
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
        class="twitter-share-button" data-size="large" data-text="Have a look .."
        data-via="dasayan05" data-lang="en" data-show-count="false">Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>