---
layout: page
---

{{ page.content }}

{% if page.title == "Blogs" %}
    {% include donation_banner.html %}
{% endif %}

{% if page.navigation-on == "posts" %}
    {% assign nav_list = site.categories.blog-tut %}
{% elsif page.navigation-on == "projs" %}
    {% assign nav_list = site.categories.projs %}
{% elsif page.navigation-on == "pubs" %}
    {% assign nav_list = site.categories.pubs %}
{% endif %}

{% assign count = 1 %}
{% for post in nav_list %} {% if post.publish == true %} {% if post.author == "Ayan Das" %}
    <div class="custom-nav-whole">
        <h2 style="text-align: left;"> [{{ count }}] <a href="{{ post.url }}"> {{ post.title }} </a> </h2>
        {% capture count %}{{ count | plus:1 }}{% endcapture %}
        <div class="custom-nav-desc">
            {% if page.navigation-on == "pubs" %}
                <strong>Authors:</strong> {{ post.authors }} <br>
            {% else %}
                <strong>Author:</strong> {{ post.author }} <br>
            {% endif %}
                <strong>Dated:</strong> {{ post.date | date_to_string }} <br>
                <strong>Tags:</strong> {% for a_tag in post.tags %} {{ a_tag }}, {% endfor %}
            <div class="custom-desc-box">
                <div class="custom-desc-box-thumb">
                    <img src="{{ post.thumbnail-img }}">
                </div>
                <div class="custom-desc-box-text">
                    {{ post.excerpt }}
                </div>
            </div>
        </div>
    </div>
{% endif %} {% endif %} {% endfor %}