---
layout: default
---

<script>
    function statusChangeCallback(response) {
        if (response.status === "connected") {
            FB.api('/me?fields=id,name', function(response) {
                // document.getElementById('fblogin').innerHTML = response.name;
                // ...
            })
        } else {
            console.log(response);
        }
    }

    window.fbAsyncInit = function() {
        FB.init({
            appId      : '3268236546577201',
            cookie     : true,
            xfbml      : true,
            version    : 'v7.0'
        });

        FB.AppEvents.logPageView();

        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    };

    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }

    (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div class="post">
    <div class="post-title">{{ page.title }}</div>
    {% if page.authors %}
        <span class="post-date">Author(s): {{ page.authors }}</span>
    {% else %}
        <span class="post-date">Author: {{ page.author }}</span>
    {% endif %}
    {% if page.venue %}<span class="post-date">Venue: {{ page.venue }}</span>{% endif %}
    {% if page.link %}
        <span class="post-date">Link: <a href="{{ page.link }}" target="_blank">{{ page.link }}</a></span>
    {% endif %}
    {% if page.date %}<span class="post-date">Dated: {{ page.date | date_to_string }}</span>{% endif %}
    <br>
    
    <div class="fb-login-button" style="padding-bottom: 10px;" data-size="large" data-button-type="continue_with" data-layout="rounded" data-auto-logout-link="true" data-use-continue-as="true" data-width=""></div>
    <iframe src="https://www.facebook.com/plugins/share_button.php?href={{ page.url | absolute_url }}&layout=button&size=large&width=77&height=28&appId" width="77" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Have a look .." data-via="dasayan05" data-lang="en" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    {% if page.category == "blog-tut" %}{% include banner.html type="donation" %}{% endif %}
    {% if page.category == "pubs" %}{% include banner.html type="publication" %}{% endif %}
    
    {{ content }}
</div>

<div class="related">
    <h2>Related Posts</h2>
    <ul class="related-posts">
        {% for post in site.posts %}
        {% unless post.navigation == "excluded" %}
            {% if page.category == post.category %}
                {% for tag in page.tags %}
                {% if post.tags contains tag and post.title != page.title %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a>, <small>{{ post.date | date_to_string }}</small></li>
                    {% break %}
                {% endif %}
                {% endfor %}
            {% endif %}
        {% endunless %}
        {% endfor %}
    </ul>
</div>

<div id="disqus_thread"></div>
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
var disqus_config = function () {
this.page.url = page.url;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = page.post_number; // Replace PAGE_IDENTIFIER with your page's unique identifier variable 
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://dasayan05-io-blog.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>